*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
.settings/*
system/application/config/database.php
system/application/config/config.php
system/application/config/email.php
system/application/config/postmark.php
system/application/libraries/MY_Controller.php
nbproject/*
.htaccess
*.*~
