#ja-cssmenu {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu ul {
	margin: 0; /* all lists */
	padding: 0;
}

#ja-cssmenu li {
	float: left;
	display: block;
	padding: 0;
	margin: 0;
	background: none;
}

#ja-cssmenu li ul {
	width: 16.4em;
	position: absolute; /* second-level lists */
	z-index: 99;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	height: auto;
	w\idth: 15.9em;
}

#ja-cssmenu li ul ul {
	margin: -2em 0 0 15em; /* third-and-above-level lists */
}

#ja-cssmenu li li {
	padding: 0 1em 0 0;
	margin: 0;
	width: 14.9em;
}

#ja-cssmenu ul a {
	width: 14.8em;
	w\idth: 10.8em;
}

#ja-cssmenu li:hover ul ul, #ja-cssmenu li:hover ul ul ul,
#ja-cssmenu li.sfhover ul ul, #ja-cssmenu li.havechildsfhover ul ul, #ja-cssmenu li.havechild-activesfhover ul ul, #ja-cssmenu li.activesfhover ul ul,
#ja-cssmenu li.sfhover ul ul ul, #ja-cssmenu li.havechildsfhover ul ul ul, #ja-cssmenu li.havechild-activesfhover ul ul ul, #ja-cssmenu li.activesfhover ul ul ul {
	left: -999em;
}

/* This "unhides" the sub-menus (left: -999em is what hides them) */
#ja-cssmenu li:hover ul, #ja-cssmenu li li:hover ul, #ja-cssmenu li li li:hover ul,
#ja-cssmenu li.sfhover ul, #ja-cssmenu li.havechildsfhover ul, #ja-cssmenu li.havechild-activesfhover ul, #ja-cssmenu li.activesfhover ul,
#ja-cssmenu li li.sfhover ul, #ja-cssmenu li li.havesubchildsfhover ul, #ja-cssmenu li li.havesubchild-activesfhover ul, #ja-cssmenu li li.activesfhover ul,
#ja-cssmenu li li li.sfhover ul, #ja-cssmenu li li li.havesubchildsfhover ul, #ja-cssmenu li li li.havesubchild-activesfhover ul, #ja-cssmenu li li li.activesfhover ul {
	left: auto;
}

/* STYLING THE MENU
-----------------------------------*/
/* 1st level */
#ja-cssmenu li a {
	border-right: 1px solid #666666; 
	display: block;
	text-decoration: none;
	font-size: 100%;
	color: #999999;
	padding: 8px 20px;
	text-transform: uppercase;
}

#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus {
	color: #FFFFFF;
}

#ja-cssmenu li:hover a,
#ja-cssmenu li.sfhover a,
#ja-cssmenu li.havechildsfhover a,
#ja-cssmenu li.havechild-activesfhover a {
	color: #FFFFFF;
}

#ja-cssmenu li.active {
	background: none;	
}

#ja-cssmenu li.active a {
	background: none;	
	color: #FFFFFF;
}

#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:focus {
	color: #FFFFFF;
}

/* 2nd level and above */
#ja-cssmenu li ul {
	border: 1px solid #202020;
	background: url(../../images/trans-bg.png);
}

#ja-cssmenu li ul ul {
	border: 1px solid #202020;
}

#ja-cssmenu li ul li {
	border-bottom: 1px solid #202020;
	border-right: none;
	background: none;
}

#ja-cssmenu li ul a {
	border-right: none;
	margin: 0;
	padding: 5px 10px;
	background: none !important;
	text-transform: none;
	font-weight: normal;
	font-size: 92%;
	white-space: nowrap;
	color: #CCCCCC !important;
}

#ja-cssmenu li.havesubchild,
#ja-cssmenu li.havesubchild-active {
	background: url(img/arrow-1.gif) no-repeat 95% 50%;
}

#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover {
	background: #202020;
	color: #FFFFFF !important;
}

#ja-cssmenu ul li a.active {
	background: none !important;
	color: #FFFFFF !important;
	font-weight: bold !important;
}

#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus {
	color: #FFFFFF !important;
}