/* 
    Document   : blackberry
    Created on : 02-Nov-2011, 20:59:49
    Author     : mat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    background:#efefef;
    color:#555555;

}




fieldset {
    border:1px solid #555555;
    margin:5px 5px 20px;
    padding:15px;
    background:#fff;
    

}

#ui-bar {
    border: 1px solid #2A2A2A;
    background: #111;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 1px black;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#111));
    background-image: -webkit-linear-gradient(top,#3c3c3c,#111);
    background-image: -moz-linear-gradient(top,#3c3c3c,#111);
    background-image: -ms-linear-gradient(top,#3c3c3c,#111);
    background-image: -o-linear-gradient(top,#3c3c3c,#111);
    background-image: linear-gradient(top,#3c3c3c,#111);  

}
h2 {
    min-height: 1.1em;
    text-align: center;
    font-size: 16px;
    display: block;
    margin: .6em 90px .8em;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0!important;
}

