/* 
    Document   : blackberry
    Created on : 02-Nov-2011, 20:59:49
    Author     : mat
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
input {
   display:block;

    width:90%;
    padding:3px;
    margin:3px;
    float:left;
}

label {
   
    clear:both;
    float:left;
    display:block;
     padding:3px;
     margin:3px;
     font-weight: bold;
    
}

fieldset {
    border:1px solid #555555;
    margin:5px;
    padding:5px;
}
